/* Create two unequal columns that floats next to each other */

    /* Left column */
    .leftcolumn {   
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
            
    /* Add a card effect for articles */
    .card {
        background-color: #282A35;
        color: white;
        padding: 55px; 
        text-align: center;  
        }

    .card_s1 {
        background-color: #aceec5;
        color: black;
        padding: 55px;
        text-align: center;  
        }

    .card_s2 {
        background-color: #FFF4A3;;
        color: black;
        padding: 55px; 
        text-align: center;      
        }

    .card_s3 {
        background-color: #96D4D4;
        color: black;
        padding: 55px;
        text-align: center;  
        }