.card {
    background-color: #aceec5;
    padding: 45px; 
    text-align: center;
    }

.card_s1 {
    background-color: #96D4D4;
    color: black;
    padding: 45px;
    text-align: center;  
    }

.card_s2 {
    background-color: #FFF4A3;
    color: black;
    padding: 45px; 
    text-align: center;      
    }

.card_s3 {
    background-color: #96D4D4;
    color: black;
    padding: 45px;
    padding-bottom: 100px;
    text-align: center;  
    }

.card_s4 {
    background-color: #282A35;
    color: black;
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    padding-top: 60px;
    padding-bottom: 20px;
    }


.card_s5 {

    background-color: #282A35;
    color: black;
    padding-top: 180px;
    padding-bottom: 20px;
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    }

.card_s5 img{
    padding-top: 15px;
    padding-bottom: 20px;
    -webkit-transform: scale(2.0);
    -ms-transform: scale(2.0);
    transform: scale(2.0);
    }

.card_s6{
    background-color: #282A35;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Asap', sans-serif;
    text-align: center;
    display: flex;
    justify-content: center;
    padding-bottom: 150px;
}

.cardanimado{
    text-align: center;
    display: flex;
    justify-content: center;
    position: relative;
    display: flex;
    flex-wrap:wrap;
    }

.cardanimado_unity{
    text-align: center;
    display: flex;
    justify-content: center;
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
    overflow: hidden;
    color: white;
    height: 420px;
    width: 280px;
    border-radius: 15px;
    margin: 40px;
    background-color: #282A35;
    box-shadow: 20px 20px 50px #00000080;
    border-top: 1px solid #ffffff80;
    border-left: 1px solid #ffffff80;
    }

.cardanimado div p{
    line-height: 130%;
    padding-top: 190px;
    
    }

.cardanimado div h1 {
    position: absolute;
    top: -50px;
    right: 50px;
    font-size: 100px;
    color: #ffffff80;
    }

.cardanimado div h3{
    position: absolute;
    padding-top: 140px;
    border-bottom: 1px solid white;
    
    }