    #menu-h{

        background-color: #ffffff;
        
    }

    #menu-h ul {

        list-style: none;
        padding: 10;

    }

    #menu-h ul li {

        display: inline;
        
    }

    #menu-h ul img {

        width:59px;
        height:35px;
    }

    #menu-h ul li a {

        color: #000000;
        font-size: 20px;
        font-family: Verdana,sans-serif;
        padding: 8px;
        display: inline;
        text-decoration: none;
        transition: background .4s;
    }

    #menu-h ul li a:hover {

        background-color: #5c7ff5;
    }
