@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Lora&family=Nunito+Sans:wght@200&display=swap');

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #282A35;
    position: -webkit-sticky;
    top: 0;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover{
    background-color: #111;
  }
  
  .active {
    background-color: #04AA6D;
  }

/*--------------------------------------------------------------------------------------------------------------------*/


.titulo{
  margin: 0 auto;
  max-width: 89%;
  padding-bottom: 35px;
  border-bottom: 1px solid #CCC;
  margin-top: 60px;
  font-size: 45px;
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
}

img{
  max-width: 100px;

}

.select_conteudos{
  font-family: 'Source Sans Pro', sans-serif;
  font-weight:bolder;
  display: flex;
  flex-wrap:wrap;
  /* max-width: 1000px; */
  margin: 0 auto;
  padding: 70px 10px 100px 60px;
}

.select_conteudos div{
  flex: 1 1 50px;
  margin: 10px 100px 35px 50px;
  text-align: center;

}
/*-----------------------------------------------------------------------*/

.Alignment{
  background-color: white;
  display: flex;
  flex-direction:column;
  max-width: 70%;
  margin: 0 auto;
  padding-bottom: 100px;
  
  }

  .ads{
    /* background-color: bisque; */
  }

  .navigation_bar{
    padding: 30px;
    margin-top: 10px;
    list-style: none;
  }

  .linha_topo{
    padding-top: 10px;
    border-top: 1px solid #CCC;
  }

  .linha_baixo{
    padding-bottom: 10px;
    border-bottom: 1px solid #CCC;
  }
  
  .borda1{
    padding-top: 15px;
    border-top: 1px solid #CCC;
    padding-bottom: 15px;
    border-bottom: 1px solid #CCC;
  }

  .Alignment h1{
    text-align: center;
    font-size: 40px;
    font-family: 'Nunito Sans', sans-serif;
  }

  .Alignment h2{
    font-size: 40px;
    font-family: 'Nunito Sans', sans-serif;
  }

  .lista{
    display: flex;
    flex-direction:column;
  }
