@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #282A35;
    position: -webkit-sticky;
    top: 0;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: #04AA6D;
  }

/*--------------------------------------------------------------------------------------------------------------------*/


.titulo{
  margin-top: 60px;
  font-size: 45px;
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
}

img{
  max-width: 100%;
  display: block;
  ;
}

.select_conteudos{
  font-family: 'Source Sans Pro', sans-serif;
  font-weight:bolder;
  display: flex;
  flex-wrap: wrap;
  max-width: 400px;
  margin: 0 auto;
}

.select_conteudos div{
flex: 1 1 50px;
margin: 25px;
text-align: center;

}
/*-----------------------------------------------------------------------*/

.Alignment{
  background-color: white;
  display: flex;
  flex-direction:column;
  max-width: 1000px;
  margin: 0 auto;
  
  }

  .ads{
    background-color: bisque;
  }

  .navigation_bar{
    background-color: ivory;
    padding: 20px;
    margin-top: 50px;
    list-style: none;
  }
