@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

    html, body {
        min-height: 100%;
    }

    body{
        margin: 0;
        padding: 0;
        font-family: 'Open Sans', sans-serif;
        background-color: #ffffff;
        position: relative;

    }

    .leftcolumn h1{
        font-size: 35px;
    }

    .leftcolumn p {
        margin: 30px;
    }
            
    /* Clear floats after the columns */
    .row:after {
        display: table;
        clear: both;
    }

    /* Footer */
    footer {
        background-color: #282A35;
        padding-top: 5px;
        padding-bottom: 5px;
        color: #FFF;
        text-align:left;
        font-size: 10px;
        font-family: Arial;
        width: 100%;
        bottom: 0;
        
    }