@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

    html, body {
        min-height: 100%;
    }

    body{
        margin: 0;
        padding: 0;
        font-family: 'Open Sans', sans-serif;
        background-color: #ffffff;


    }

    .leftcolumn h1{
        font-size: 35px;
    }

    .leftcolumn p {
        margin: 30px;
    }


    /* Footer */
    footer {
        background-color: #282A35;
        padding-top: 15px;
        padding-bottom: 15px;
        color: #FFF;
        text-align:left;
        font-size: 17px;
        font-family: Arial;
        width: 100%;
        bottom:0;
    }