@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

html{
    position:relative; 
    min-height: 100%;
  }

    body{
        margin: 0;
        padding: 0;
        font-family: 'Open Sans', sans-serif;
        background-color: #ffffff;

    }

    .leftcolumn h1{
        font-size: 35px;
    }

    .leftcolumn p {
        margin: 30px;
    }

    /* Footer */
    footer {
        background-color: #282A35;
        padding-top: 15px;
        padding-bottom: 15px;
        color: #FFF;
        font-size: 17px;
        font-family: Arial;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;

    }